---
---
/* Add your custom style here */

@import "portfolYOU";

body {
    font-family: "Lato", sans-serif !important;
}

ul.cloud {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
}

ul.cloud li[data-weight="1"] { --size: 2; }
ul.cloud li[data-weight="2"] { --size: 3; }
ul.cloud li[data-weight="3"] { --size: 4; }
ul.cloud li[data-weight="4"] { --size: 5; }
ul.cloud li[data-weight="5"] { --size: 6; }
ul.cloud li[data-weight="6"] { --size: 7; }
ul.cloud li[data-weight="7"] { --size: 8; }
ul.cloud li[data-weight="8"] { --size: 9; }
ul.cloud li[data-weight="9"] { --size: 10; }

ul.cloud li:nth-child(1n+1) { color: tomato  ; }
ul.cloud li:nth-child(2n+1) { color: gold; }
ul.cloud li:nth-child(3n+1) { color: darkorchid; }
ul.cloud li:nth-child(4n+1) { color: darkturquoise; }

ul.cloud li {
    font-family: monospace;    
    display: block;
    opacity: calc((18 - (10 - var(--size))) / 15);
    padding: 0.125rem 0.25rem;
    text-decoration: none;
    position: relative;
    font-size: calc(var(--size) * 0.25rem + 0.5rem);
}